In [1]:
# set
myset={1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [3]:
len(myset)

5

In [5]:
my_set = {1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [7]:
myset1 = {1.79,2.08,3.99,4.56,5.45}
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [9]:
myset2 = {'Asif' , 'John' , 'Tyrion'} 
myset2

{'Asif', 'John', 'Tyrion'}

In [11]:
myset3 = {10,20, "Hola", (11, 22, 32)} 
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [15]:
myset3 = {10,20, "Hola", [11, 22, 32]} 
myset3

TypeError: unhashable type: 'list'

In [17]:
myset4 = set() 
print(type(myset4))

<class 'set'>

In [19]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1

{'four', 'one', 'three', 'two'}

In [23]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
    print(i)

six
five
two
three
one
eight
seven
four

In [25]:
for i in enumerate(myset):
    print(i)

(0, 'six')
(1, 'five')
(2, 'two')
(3, 'three')
(4, 'one')
(5, 'eight')
(6, 'seven')
(7, 'four')

# set membership

In [211]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [213]:
'one' in myset

True

In [215]:
'ten' in myset

False

In [217]:
if 'three' in myset: 
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [219]:
if 'eleven' in myset: 
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

In [221]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [223]:
myset.add('NINE') 
myset

{'NINE',
 'eight',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [225]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE']) 
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [227]:
myset.remove('NINE') 
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [229]:
myset.discard('TEN')
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [231]:
myset.clear() 
myset

set()

In [233]:
del myset 
myset

NameError: name 'myset' is not defined

# copy set

In [236]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [238]:
myset1 = myset 
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [240]:
id(myset) , id(myset1)

(2274799024192, 2274799024192)

In [242]:
my_set = myset.copy() 
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [244]:
id(my_set)

2274799025312

In [246]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [248]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [250]:
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# set operation:
  # - UNION

In [253]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [255]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [257]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [259]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [261]:
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# - INTERSECTION:

In [264]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

A & B

{4, 5}

In [266]:
A.intersection(B)

{4, 5}

In [268]:
A.intersection_update(B)
A

{4, 5}

# - Difference

In [271]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A - B

{1, 2, 3}

In [273]:
A.difference(B)

{1, 2, 3}

In [275]:
B-A

{6, 7, 8}

In [277]:
B.difference(A)

{6, 7, 8}

In [279]:
B.difference_update(A)
B

{6, 7, 8}

# - symmetric difference

In [282]:
A= {1,2,3,4,5}
B = {4,5,6,7,8}

In [284]:
A^B

{1, 2, 3, 6, 7, 8}

In [286]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [288]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

# subset, Superset & Disjoint

In [291]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}
B.issubset(A)

True

In [293]:
A.issuperset(B)

True

In [295]:
C.isdisjoint(A)

True

In [297]:
B.isdisjoint(A)

False

# Other builtin functions:

In [300]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [302]:
sum(A)

45

In [304]:
max(A)

9

In [306]:
min(A)

1

In [308]:
len(A)

9

In [310]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [312]:
D= sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [314]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

In [317]:
mydict = dict() 
mydict

{}

In [319]:
mydict = {}
mydict

{}

In [321]:
mydict = {1:'one' , 2:'two' , 3:'three'} 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [323]:
mydict = dict({1:'one' , 2:'two' , 3:'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [325]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} 
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [327]:
mydict = {1:'one' , 'A':'two' , 3:'three'} 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [329]:
mydict.keys()

dict_keys([1, 'A', 3])

In [331]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [333]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [335]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} 
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [337]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [339]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [341]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) 
mydict3

{'d': None, 'a': None, 'b': None, 'c': None}

In [343]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'d': 10, 'a': 10, 'b': 10, 'c': 10}

In [345]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'d': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30]}

In [347]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

# Accessing items:

In [350]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [352]:
mydict[1]

'one'

In [354]:
mydict.get(1)

'one'

In [356]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [358]:
mydict1['Name']

'Asif'

In [360]:
mydict1.get('job')

'Analyst'

In [374]:
mydict1 = {'Name':'Vagdevi' , 'ID': 12345 , 'DOB': 2020 , 'Address' : 'Hyderabad'}
mydict1

{'Name': 'Vagdevi', 'ID': 12345, 'DOB': 2020, 'Address': 'Hyderabad'}

In [376]:
mydict1['DOB'] = 2025
mydict1['Address'] = 'Nalgonda'
mydict1

{'Name': 'Vagdevi', 'ID': 12345, 'DOB': 2025, 'Address': 'Nalgonda'}

In [378]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Vagdevi', 'ID': 12345, 'DOB': 1995, 'Address': 'Nalgonda'}

In [380]:
mydict1['Job'] = 'Analyst' 
mydict1

{'Name': 'Vagdevi',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Nalgonda',
 'Job': 'Analyst'}

In [382]:
mydict1.pop('Job') 
mydict1

{'Name': 'Vagdevi', 'ID': 12345, 'DOB': 1995, 'Address': 'Nalgonda'}

In [384]:
mydict1.popitem()

('Address', 'Nalgonda')

In [386]:
mydict1

{'Name': 'Vagdevi', 'ID': 12345, 'DOB': 1995}

In [388]:
del[mydict1['ID']] 
mydict1

{'Name': 'Vagdevi', 'DOB': 1995}

In [390]:
mydict1.clear()
mydict1

{}

In [392]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

# copy dictionary

In [416]:
mydict = {'Name':'vagdevi' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hyderabad'}
mydict

{'Name': 'vagdevi', 'ID': 12345, 'DOB': 1991, 'Address': 'Hyderabad'}

In [418]:
mydict1 = mydict

In [420]:
id(mydict) , id(mydict1)

(2274813961856, 2274813961856)

In [422]:
mydict2 = mydict.copy()

In [424]:
id(mydict2)

2274813088832

In [426]:
mydict['Address'] = 'Mumbai'

In [428]:
mydict

{'Name': 'vagdevi', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [430]:
mydict1

{'Name': 'vagdevi', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [432]:
mydict2

{'Name': 'vagdevi', 'ID': 12345, 'DOB': 1991, 'Address': 'Hyderabad'}

# Loop through a dictionary

In [435]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' ,'Job': 'Analyst'}

mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [460]:
for i in mydict1:
    print(i , ':' , mydict1[i])

Name : Anantha
ID : 12345
DOB : 1991
Job : Analyst

In [464]:
for i in mydict1:
    print(mydict1[i])

Anantha
12345
1991
Analyst

# Dictionary Membership

In [467]:
mydict1 = {'Name':'Anantha' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Anantha', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [469]:
'Name' in mydict1

True

In [471]:
'Asif' in mydict1

False

In [473]:
'ID' in mydict1

True

In [475]:
'Address' in mydict1

False

In [477]:
mydict1 = {'Name':'Anantha' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Anantha', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [479]:
all(mydict1)

True