# IDENTIFIER

In [89]:
age=25
name="Vagdevi"
my_var=100
score_1=89
_PI=3.14159
total_amount=150.75
myVariable=10
print(age)
print(name)
print(my_var)
print(score_1)
print(_PI)
print(total_amount)
print(myVariable)

25
Vagdevi
100
89
3.14159
150.75
10

In [91]:
1st_place="First"
total-price=200
class="python"
my variable="space"
print(1st_place)

SyntaxError: invalid decimal literal (2338863074.py, line 1)

In [7]:
def greet(name):
    print(f"Hello,{name}!")
greet("Vagdevi")

Hello,Vagdevi!

In [21]:
class car:
    def __init__(self,make,model):
        self.make=make
        self.model=model
        
my_car=car("Toyota","Corolla")

In [23]:
import math
print(math.pi)

3.141592653589793

# PRINT()

In [32]:
print(*objects, sep='', end='\n', file=sys.stdout, flush=False)

NameError: name 'objects' is not defined

In [34]:
print("Hello, World!")

Hello, World!

In [36]:
print(42)
print(3.14)

42
3.14

In [38]:
x=10
y=20
print("The value of x is",x,"and the value of y is",y)

The value of x is 10 and the value of y is 20

In [48]:
print("apple","banana","cherry",sep=",")

apple,banana,cherry

In [52]:
print("apple","banana","cherry",sep=" ")

apple banana cherry

In [54]:
print("Hello",end=" ")
print("World!")

Hello World!

# DATA TYPES AND TYPE CASTING

In [69]:
x = "10" 
y = int(x) 
print(y)

10

In [71]:
x = "3.14" 
y = float(x) 
print(y)

3.14

In [73]:
x = 100 
y = str(x) 
print(y)

100

In [75]:
X = 1 
y = bool(x)
print(y)
x = 0 
y = bool(x)
print(y)

True
False

In [85]:
string_value = "123"
int_value = int(string_value)
float_value = float(string_value) 
print(string_value)
print(int_value)
print(float_value)

123
123
123.0

In [95]:
num = 45
str_value = str(num)
print(str_value)

45

In [99]:
x = "hello"
y = bool(x) 
z = bool("")
print(x)
print(y)
print(z)

hello
True
False

In [101]:
bool_val = True
int_val = int(bool_val) 
float_val = float(bool_val)
print(bool_val)
print(int_val)
print(float_val)

True
1
1.0

In [105]:
x = "hello"
try:
 y = int(x) 
except ValueError as e:
 print(f"Error: {e}")

Error: invalid literal for int() with base 10: 'hello'